.container {
    margin: auto;
    width: 30%;
    color: rgb(51, 43, 43);
    
    border: 3px solid grey;
    padding: 2vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
